{{>navigation}}

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
    <h3>Lionel Client Helper</h3>
    <p>This object helps to produce nice bootstrap forms and HTML objects fast and easily.<br>
    When we create anything (table,select,element...etc) it will returns a Helper element, if we want actually access the HTMLElement, we need to check the <strong>node</strong> key.
    <br> For example: const HTMLElement = LionelClient.Helper.createElement('div').node;</p>

    <div class="alert alert-secondary">
        LionelClient.Helper.GETParameters()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.addClass()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.append()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.createElement()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.createForm()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.createNavHeader()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.createPopup()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.createSelector()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.createSidebar()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.createTable()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.createWindow()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.getAllData()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.getData()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.on()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.removeData()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.select()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.setAttributes()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.setData()
    </div>
    <div class="alert alert-secondary">
        LionelClient.Helper.setStyles()
    </div>
</main>
