{{>navigation}}

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
    <h2 class="bd-title" id="content">Getting Started</h2>
    <p class="bd-lead">Get started with Lionel App</p>

    <h3> First Steps</h3>
    <p>
        <ul>
    <li>We need to download the first template of Lionel-App from GitHub or from <a href="/lionel-app-project.zip">the website</a></li>
    <li>Download and install Node Js with npm <a href="https://nodejs.org/">from here</a></li>
    <li>Open Lionel App folder and run "npm install" command to keep update your npm dependencies</li>
        </ul>
    </p>
    <h3>Check main server files</h3>
    <p>
        First of all to have a fully functional Javascript Web Application you need to open a server.js in the main
        directory.
        The file should contain something like this:
    </p>
    <div style="background-color: #f8f9fa;    overflow-y: scroll;
    height: 300px;"><code>
        'use strict';
        <br>const {app} = require("./app");
        <br>const {initLionelServer} = require("lionel-app/bin/initLionelServer");
        <br>const { jsFolder, viewFolder, libFolder, port, liveUpdate, mainDirectory, separator, appData, appName} = require("./constants");
        <br>
        <br><span style="color: #0b2e13">/**
        <br>* Start HTTP/HTTS Server
        <br>* @type {Array|*}
        <br>*/</span>
        <br>initLionelServer(port,{
        <br>appData: appData,
        <br>appName: appName,
        <br>lib:libFolder,
        <br>view:viewFolder,
        <br>js:jsFolder,
        <br>debug:true,
        <br>mainDirectory:mainDirectory,
        <br>separator:separator,
        <br>requestListener:app
        <br>});

        <br><span style="color: #0b2e13">/**
        <br>* Initialize routes for the webPage
        <br>*/</span>
        <br>require('./app/routes.js');
        <br>
        <br><span style="color: #0b2e13">/**
        <br>* Start Server Backend codes
        <br>*/</span>
        <br>require('./app/server/index');

    </code></div>
    <p>For this you will need a constants.js file next to the server.js. In this files you can edit variables what
        connected to your Application, like Application Name, or you can edit folder structure of Lionel App too.</p>

</main>
