{{>navigation}}

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
    <h2 class="bd-title" id="content">LionelClient</h2>
    <p class="bd-lead">A piece of backend everywhere</p>

    <h3>Client Side Library for Lionel</h3>
    <p>LionelClient is an object to communicate backend in /app/server/ folder, call Rest API endpoints,
        and handle some basic request from the Developer to help and speed up making a good project.</p>

    <h3>Functions</h3>
    <div class="alert alert-secondary">
        LionelClient.call(methodName, ..parameters[OPTIONAL], callback[OPTIONAL])
    </div>
    <p>Call function make a Rest API endpoint to receive result from a Lionel method connected to the specific call.
    <br> LionelClient.call('getResult') function call a Lionel Method on Server with name "getResult" and answer with the result of that function. <br>
    More details in the <a href="/Methods">Methods Page</a> </p>

    <div class="alert alert-secondary">
        LionelClient.getPublicJS(jsName)
    </div>
    <p>We can ask server to load a javascript file/library to the browser Async anytime with this event. Every javascript can be loaded into a HTML script from the /app/public/js/ directory.
    <br><strong>Usage:</strong> <code>LionelClient.getPublicJS('bootstrap').then(()=>{console.log('Loaded /app/public/js/bootstrap.js')})</code></p>

    <div class="alert alert-secondary">
        LionelClient.navigate(href)
    </div>
    <p>We can navigate in pages with this function instead of using hyperlinks. This function does not refresh the page and load every dependencies again, just refresh the HTML content and call the onRendered javascript for the specific page.
    If you open the Index page and navigate to About page with this function and go back to Index, the last time will much faster because the javascript with dependencies are loaded from cache and called from there.</p>

    <div class="alert alert-secondary">
        LionelClient.mongodb(queryType, query);
    </div>
    <p>If the server is connected to a mongoDB instance we can use the API and communicate with mongoDB.<br>
    If we call LionelClient.mongodb() we will get some extra function what is helpful for beginners in mongoDB like </p>
    <ul>
        <li>LionelClient.mongodb().add(collection,filter)</li>
        <li>LionelClient.mongodb().delete(collection,filter)</li>
        <li>LionelClient.mongodb().find(collection,filter)</li>
        <li>LionelClient.mongodb().listCollections()</li>
        <li>LionelClient.mongodb().update(collection,filter,details)</li>
    </ul>
    <div class="alert alert-secondary">
        LionelClient.mysql(queryType, query);
    </div>
    <p>If the server is connected to a MySQL instance we can use the API and communicate with mySQL server.<br>
    If we call LionelClient.mysql() we will get some extra function what is helpful for beginners in SQL like </p>
    <ul>
        <li>LionelClient.mysql().delete(table,filter)</li>
        <li>LionelClient.mysql().select(table,filter)</li>
        <li>LionelClient.mysql().selectAll(table)</li>
        <li>LionelClient.mysql().update(table,filter,data)</li>
        <li>LionelClient.mysql().listTables()</li>
        <li>LionelClient.mysql().removeTable(table)</li>
    </ul>
</main>
