{{>navigation}}

<main style="padding: 10px" role="main">

    <h2 class="bd-title" id="content">Lionel Methods</h2>
    <p class="bd-lead">Communication between client and server</p>

    <p>From the client side we can call functions on the server and work with the results of them. On the client we can use the LionelClient.call() functions for this tasks to call functions in the Lionel.methods() on the server side.</p>

    <div style="width: 100%;display: flex" >
        <div style="width: 50%;padding: 5px">
            <div class="alert alert-primary" role="alert">
                app/views/index.js
            </div>
            <div>
                <code>

                    <br>LionelClient.<span style="color: #727300">call</span>('getSampleText',<span style="color: #9c4e00">function</span> (error, result) {
                    <br>console.<span style="color: #727300">log</span>(error,result)
                    <br>});

                    <br>LionelClient.<span style="color: #727300">call</span>('getSampleJSON').<span style="color: #727300">then</span>(<span style="color: #9c4e00">function</span> (result) {
                    <br>console.<span style="color: #727300">log</span>(result);
                    <br>}).<span style="color: #727300">catch</span>(<span style="color: #9c4e00">function</span> (error) {
                    <br>console.<span style="color: #727300">warn</span>(error);
                    <br>});

                </code>
            </div>
        </div>
        <div style="width: 50%;padding: 5px">
            <div class="alert alert-primary" role="alert">
                app/server/index.js
            </div>
            <div>
                <code>
                    <br>Lionel.<span style="color: #727300">methods</span>({
                    <br><span style="color: #0b2e13">/**
                    <br>* This can be called with Lionel.call('getSampleText',..args,callback) returns Promise
                    <br>* @returns {string}
                    <br>    */</span>
                    <br><span style="color: #727300">getSampleText</span>: function () {
                    <br>return <span style="color: #0b2e13">'Text'</span>
                    <br>},
                    <br><span style="color: #0b2e13">/**
                    <br>* This can be called with Lionel.call('getSampleJSON',..args,callback) returns Promise
                    <br>* @returns {string}
                    <br>*/</span>
                    <br><span style="color: #727300">getSampleJSON</span>: function () {
                    <br>return {
                    <br>status: <span style="color: #0b2e13">'JSON value'</span>
                    <br>}
                    <br>},
                    <br>});
                </code>
            </div>
        </div>
    </div>
</main>

