{{>navigation}}

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
    <h3>Export Server as PHP Web Service (Beta)</h3>
    <p>If we need to upload our application to a common Web Server for our domain, then we need to rend to rent a
        Javascript Server to run our Node JS instance or we can just export the whole web page.
    <br>This means we export our Router to PHP and HTML files, so it is not 100% sure that every functionality will be working, but the following methods are included in Lionel-PHP version:</p>
    <ul>
        <li>Every LionelClient function except LionelClient.call and LionelClient.mongodb (with experience in PHP it is possible to upgrade)</li>
        <li>SQL compatibility</li>
    </ul>
    <p>For more details check the Roadmap.</p>
</main>
